#leftSide, #rightSide{
    float: left;
    margin-left: 110px;
}

#links{
    float: right;
}

#userName{
    font-size: 0.7em;
    margin-bottom: 5px;
    text-align: right;
}

#companyPosition{
    font-size: 0.4em;
    text-align: right;
    margin-bottom: 8px;
    height: 15px;
}

#rightSide{
    width: 62px;
    height: 62px;
    margin-top: -2px;
    overflow: hidden;
    border: 3px solid white;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
}

#rightSide img{
    width: 100%;
    position:relative;
    top:0;
    bottom:0;
    margin:auto;
}
.headerLink{
    padding: 2px 5px;
    font-size: 0.45em;
    margin-left: 6px;
    color: white;
    padding: 2px 5px;

    border-radius: 5px;
}

#buzzSearchForm, #ddd, #gotoProfile{
    float: left;
}

#buzzSearchForm{
    margin-top: 18px;
    position: fixed;
    right: 37%;
}

#gotoProfile{
    font-size: 12px;
    margin-top: 7px;
    background-color: white;
    margin-top: 6px; 
    border-radius: 0 5px 5px 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    #gotoProfile{
        font-size: 12px;
        margin-top: 7px;
        background-color: white;
        margin-top: 0px; 
        border-radius: 0 5px 5px 0;
    }
}
#gotoProfile:hover{
    cursor: pointer;

}

#ddd input{
    width: 400px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 7px;
}

.logoutLink:hover{
    padding: 2px 5px;
    background-color: #6B6B6B;
    border-radius: 5px;
}
.ProfileLink:hover{
    padding: 2px 5px;
    background-color: #6B6B6B;
    border-radius: 5px;
}
.homeLink:hover{
    padding: 2px 5px;
    background-color: #6B6B6B;
    border-radius: 5px;
}
.homeLink{
    padding: 2px 5px;
    border-radius: 5px;
}
.logoutLink{
    padding: 2px 5px;

    border-radius: 5px;
}
.ProfileLink{
    padding: 2px 5px;

    border-radius: 5px;
}


/*@media all and (min-width: 900px) { #ddd input { width: 100%;  } }
@media all and (min-width: 1000px) { #ddd input { width: 100%;  } }
@media all and (min-width: 1100px) { #ddd input { width: 100%;  } }
@media all and (min-width: 1200px) { #ddd input { width: 100%;  } }
@media all and (min-width: 1300px) { #ddd input { width: 400px;  } }
@media all and (min-width: 1400px) { #ddd input { width: 400px;  } }
@media all and (min-width: 1500px) { #ddd input { width: 400px;  } }
@media all and (min-width: 1500px) { #ddd input { width: 400px;  } }
@media all and (min-width: 1600px) { #ddd input { width: 400px;  } }
@media all and (min-width: 1700px) { #ddd input { width: 400px;  } }*/
