@font-face {
    font-family: 'SourceSansProRegular';
    src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url("fonts/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url("fonts/source-sans-pro.extralight.ttf") format("opentype");
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url("fonts/SourceSansPro-Bold.otf") format("opentype");
}

html, body{
    margin: 0;
    padding: 0;
    font-family: SourceSansProRegular;
    /*background-color: #c9c9c9;*/
}

a{
    color: royalblue;

}

.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

}

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:1;

}

.postPhoto:hover{
    cursor: pointer;
}

::-webkit-scrollbar
{
    width: 9px;  /* for vertical scrollbars */
    height: 9px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

textarea{
    resize: none;
    overflow: hidden;
}

.name{
    font-family: 'SourceSansProLight';
    font-size: 20px;
    text-decoration: none;
    color: #232323;
}

.btnEditShare{
    margin-top: 10px;
}

#loadingDataModal{
    top: 80%;
    left: 50%;
}
.loadingDataModal-body{
    height: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
}
#loadingModalBody{
    width: 100%;
}
#successDataModal{
    top: 80%;
    left: 50%;
}
.successDataModal-body{
    height: 40px;
    background-color: white;
    top: 50%;
    left: 50%;
}
#successBody{
    width: 100%;
    height: 20px;
    color: green;
    font-size: 25px;
}
/*Main post area*/
#postBody{
    padding: 8px;
    border-radius: 2px;
    background-color: #EBEBEB;
    margin-top: 12px;
    border: 1px solid #d0d1d5;
    border-radius: 4px;

}

#postBody #img-spinner{
    margin-left: 40%; margin-top: 5px
}
#sharedPostBody{
    border: 1px solid #d0d1d5;
    border-radius: 2px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/*profile picture, name, date, time and the options widget is in this row */
#postBodyFirstRow{
    background-color: white;
    display: inline-blok;
    height: 64px;
    border-radius: 5px;
    padding: 4px;
}

#postFirstRowColumnOne img{
    top:0;
    max-width: 70px;
    bottom:0;
    margin: auto 0;
    vertical-align: middle;
    border-radius: 5px;
}

/*Date and time container*/
#postDateTime{
    display: -webkit-box;    
    display: -moz-box;
    -webkit-box-orient: horizontal;    
    -moz-box-orient: horizontal;
    font-family: 'SourceSansProLight';
    font-size: 14px;
    margin-top: 3px;
}

#postDate{
    margin-right: 5px;
}

/*Profile picture column*/
#postFirstRowColumnOne{
    height: 70px;
    width: 70px;
    display: inline-block;
    overflow: hidden;
}

/*Name date and time row*/
#postFirstRowColumnTwo{
    width: 60%;
    display: inline-block;
    margin-left: 10px;
    height: 100%;
    vertical-align: top;
}
#postEmployeeName .name{
    font-size: 20px;
}

#postEmployeeName {
    margin-bottom: 3px;
}

#postEmloyeeJobTitle{
    font-family: 'SourceSansProLight';
    margin-bottom: 10px;
    font-size: 16px;
}
#postEmloyeeJobTitlePopUp{
    font-family: 'SourceSansProLight';
    margin-bottom: 0px;
    margin-top: -10px;
    font-size: 16px;
    
}

/*Name hide row*/
#postFirstRowColumnTwohide{
    width: 70%;
    margin-top: 16px;
    margin-left: 40px;
    color: #1423CA;
    font-size: 18px;
}
#errorFirstRow{
    width: 70%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 40px;
    color: #FE2E2E;
    font-size: 18px;
}



/*Options widget column*/
#postFirstRowColumnThree{
    width: 40px;
    display: inline-block;
    height: 62px;
    float: right;
    margin-right: 10px;
}

/*Content row*/
#postBodySecondRow{
    padding: 5px;
    margin-top: -3px;
    text-align: justify;
    background-color: white;
    border-radius: 0 0 4px 4px;
    line-height: 1.5;
    font-family: 'SourceSansProLight';
    font-size: 16px;

    overflow: hidden;
}

#postContent{
    font-size: 11px;
    color: black;
    margin-left: 15px;
}

/*Like, Share and Number of likes label row*/
#postBodyThirdRow{
    display: -webkit-box;    
    display: -moz-box;
    -webkit-box-orient: horizontal;    
    -moz-box-orient: horizontal;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

/*Like, Share and Number of likes label row*/
#commentBodyThirdRow{
    display: -webkit-box;    
    display: -moz-box;
    -webkit-box-orient: horizontal;    
    -moz-box-orient: horizontal;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

#postBodyFourthRow{
    text-align: center;
    padding-top: 5px;
    margin-top: 8px;
    font-size: 11px;
    border-top: 1px solid #e1e2e3;
}

#frmCreateComment{
    /*display: inline-block;*/
    width: 100%;
    border: none;
}



#likeLink{
    width: 12%;
    font-size: 11px;
}

#shareLink{
    width: 8%;
    font-size: 11px;
}

#noOfLikesLink{
    width: 80%;
    text-align: right;
    font-size: 11px;
}

#commentListContainer{
    //border: px solid #d0d1d5;
    border-top: none;
    padding: 5px;
    max-width: 100%;
    background-color: #dedede;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}

#commentBody{
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

#commentColumnOne{
    //width: 8%;
}

#commentRowOne{
    height: 58px;
    background-color: #f3f3f3;
    border-radius: 4px;
    /*padding: 4px;*/
}

#commentColumnOne, #commentColumnTwo, #commentColumnThree{
    display: inline-block;
}
#commentColumnOne img{
    top:0;
    max-width: 50px;
    bottom:0;
    margin: auto 0;
    vertical-align: middle;
    border-radius: 5px;
}

#commentColumnOne{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 5px;
}

#commentColumnThree{
    height: 45px;
    float: right;
    margin-right: -145px;
    margin-top: -50px;
}

#commentColumnTwo{
    width: 60%;
    margin-left: -2px;
    vertical-align: top;
}

#commentColumnTwoRowOne{
    display: -webkit-box;    
    display: -moz-box;
    -webkit-box-orient: horizontal;    
    -moz-box-orient: horizontal;
    margin-right: 5px;
}

#commentEmployeeName, #commentEmployeeJobTitle, #commentColumnTwoRowThree{
    margin-left: 10px;
    font-size: 11px;
    margin-bottom: 3px;
}

#commentEmployeeName{
    font-size: 18px;
    font-family: 'SourceSansProLight';
}

#commentEmployeeJobTitle{
    font-size: 14px;
    font-family: 'SourceSansProLight';
}

#commentColumnTwoRowThree{
    font-size: 12px;
    font-family: 'SourceSansProLight';
    margin-top: 6px;
}

#commentColumnTwoRowTwo{
    //padding: 5px;
    margin-left: 10px;
}

#commentDate{
    /*font-size: 9px;*/
    display: inline-block;
}

.commentContent{
    margin-left: 68px;
    padding: 8px 0 2px 0;
    font-size: 16px;
    font-family: 'SourceSansProLight';
}

#commentTime{
    /*font-size: 9px;*/
    display: inline-block;
}

.commentNoOfLikesLabel{
    width: 15%;
    font-size: 11px;
}

.commentLikeLink{
    font-size: 11px; 
}

#loadMorePosts{
    text-align: center;
    margin-top: 10px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */

}

/*options widget*/
.dropdown 
{
    color: #555;
    margin: 3px -22px 0 0;
    width: 20px;
    position: relative;
    height: 17px;
    text-align:left;
    z-index: 9;
}
.submenu
{
    background: #fff;
    position: absolute;
    //top: 11px;
    left: -34px;
    z-index: 100;
    width: 60px;
    display: none;
    margin-left: 19px;
    padding: 20px 0 5px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a 
{
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.dropdown li a:hover
{
    background: #F07C00;
    color: #FFFFFF;
    text-decoration: none;
}
a.account 
{
    font-size: 11px;
    color: #555;
    position: absolute;
    z-index: 101;
    display: block;
    padding: 11px 0 0 20px;
    height: 40px;
    width: 35px;
    margin: -23px 0 0 -1px;
    text-decoration: none;
    background: url(../images/more35.png) 16px 17px no-repeat;
    cursor:pointer;
}

a.commentAccount 
{
    font-size: 11px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 101;
    display: block;
    padding: 20px 0 0 20px;
    height: 28px;
    width: 50px;
    margin: -12px 0 0 -3px;
    text-decoration: none;
    background: url(../images/more35.png) 16px 17px no-repeat;
    cursor:pointer;
}

.commentDropDown .submenu{
    background: #fff;
    position: absolute;
    top: 11px;
    left: -34px;
    z-index: 100;
    width: 60px;
    display: none;
    margin-left: 17px;
    padding: 20px 0 5px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dashBuzz {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 50%; /* width of the spinner gif */
    height: 600px; /*hight of the spinner gif +2px to fix IE8 issue */

}

.submitBtn{
    background-color: #33ac3f;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    margin-right: 10px;
    /*margin-bottom: 8px;*/
    color: white;
    font-size: 15px;
    font-size: 16px;
    font-family: "SourceSansProRegular";
    margin-bottom: 10px;
}

input[type="button"]{
    font-size: 16px;
    margin-left: 81.8%;
    margin-top: -60px;
    padding: 5px;
    width: 17%;
}
.postCommentBox{
    font-size: 16px;
    font-family: "SourceSansProLight";
    border-radius: 4px 4px 4px 4px;
    min-width: 99.5%;
    padding: 11px 11px 11px 10px;
}

.root
{
    list-style:none;
    margin:0px;
    padding:0px;
    font-size: 11px;
    padding: 2px 0 0 0px;
}

#tabLinks{
    display: -webkit-box;    display: -moz-box;
    -webkit-box-orient: horizontal;    -moz-box-orient: horizontal;
    overflow-x: hidden;
    overflow: hidden;border-top-right-radius: 5px;
}

#loadVideo{
    float: right;
    margin-right: 50px;
    margin-bottom: -20px;
    z-index: 200;
}

.img_del{
    color: red; 
    font-size: 9px; 
    font-weight: 900; 
    padding: 3px; 
    background-color: black; 
    position: relative; 
    left: 17px; 
    top: -5px;
}

.closeFeed{
    margin-left: 95%;
    margin-bottom: 5px
}

.tabLabel{
    font-size: 12px; 
    font-weight: normal
}

#imageThumbnails{
    display:inline-block; 
    margin-top: 10px;
}

#postLinkData{
    display:none;
}
#spinner{
    display:none;
}
#page2, #page3{
    display: none;
}

#imgUpBtnPara{
    text-align: right
}

.loadMoreBox{
    display: none;

}

#lodingGif{
    background: transparent;
}

#lodingGif #img-spinner{
    margin-left: 40%; margin-top: 5px;
}
#img-spinner-loading{
    margin-top:9px ;
    margin-left: 40%;
}
#commentListContainerforpev{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    //border-radius: 10px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    border: 10px ;
    height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #e2e2e2;
    padding-right: 10px;
}

.cmnt_prev_commentColTwo{
    margin-left: 70px;
}

.cmnt_prev_drop_down{
    margin-top: -48px;
}

.commentLoadingBox{
    display: none;
}

.post_prev_content{
    margin-left: -10px;
}

.headerEmpName{
    color: white;
}

#maxImageErrorHeading{
    float:left;
    font-size: 21px;
    font-family: "SourceSansProBold";
}

#maxImageErrorBody{
    float:left;
    font-size: 16px;
    font-family: "SourceSansProRegular";
}

#imageCountError{
    height: 120px;
    overflow-y: hidden;
}

#deleteConfirmationModal{
    height: 120px;
    overflow-y: hidden;
}

.popupCommentList li #commentBody #commentBodyThirdRow{
    display: none;
}

.popupCommentList li #commentBody #commentBodyThirdRowNew{
    //display: none;
}

/*#photoPage #postBody #postBodyFirstRow #postFirstRowColumnThree {
    margin-left: 375px;
}*/