#profilePicContainer{
    width: 55px;
    height: 55px;
    /*overflow: hidden;*/
}

#birthdayPost{
    background-color: #6B6B6B;
    margin-bottom: 10px;
}

#profilePicContainer img{
    width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    border-radius: 5px;
}

#profilePicContainer{
    float: left;
    border: 2px solid white;
    vertical-align: middle;
    position:relative;
    background-color: #EBEBEB;
    margin-right: 8px;
    border-radius: 5px;
    overflow: hidden;
}

#birthdayUserName{
    float: left;
    font-size: 30px;
    font-family: SourceSansProRegular;
}

#birthdayText{
    color: #EBEBEB;
}

#date{
    //color: #EBEBEB;
    //font-style: italic;
    margin-top: 4px;
    font-family: SourceSansProExtraLight;
}

#picAndNameContainer div{
    /*float: left;*/
}

#birthdayPost{
    height: 60px;
    padding: 4px;
    border-radius: 5px;
    background-color: #e3e3e3;
}
#birthdayPostNull{
    height: 57px;
    padding: 4px;

}
#birthdayPostNull{
    height: 57px;
    padding: 4px;
    border-radius: 5px;

}

#upcomingBdaysMonth{
    //background-color: #EBEBEB;
    color: #6B6B6B;
    font-size: 16px;
    padding: 10px;
}
#name2{
    /*font-family: SourceSansProRegular;*/
    font-size: 20px;
}

#upcomingBdaysList{
    // background-color: #EBEBEB;
    padding: 5px;

    // max-height: 100px;
    overflow-y:auto;
    margin-bottom: 20px;
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}

#lessBirthdays{
    float: right;
    margin-top: -7px;
    margin-right: -10px;
    border: 0px solid #f6f6f6;
    border-radius: 5px;
}

#moreBirthdays{
    float: right;
    margin-top: -7px;
    margin-right: -10px;
    display: none;
    border-radius: 5px;
}