.imageNextBtn:hover{
        background-color: white;
        opacity: .5;
    }
    .imagePrevBtn:hover{
        background-color: white;
        opacity: .5;
    }
    .likeLinknew{
        background-color: transparent;
        opacity: 0.8;

        width: 35px;
        margin-left: 0px;
        z-index: 1;
        position: absolute;

    } 
    .unlikeLinknew{
        background-color: transparent;
        opacity: 0.8;

        width: 35px;
        margin-left: 35px;
        z-index: 1;
        position: absolute;

    }
    .likeLinknew:hover{
        background-color: white;
        opacity: 0.8;
    } 
    .unlikeLinknew:hover{
        background-color: white;
        opacity: 0.8;

    }
    .shareLinknew{
        background-color: transparent;
        opacity: 0.8;

        width: 35px;
        margin-left: 70px;
        z-index: 1;
        position: absolute;

    }
    #postBodyThirdRowNew{
                width: 110px;
                height: 35px;
                float: right;
                margin-top: -35px;
                margin-bottom: -0px;
            }
     #postBodyThirdRowNewPopUP{
                width: 110px;
                height: 35px;
                float: right;
                margin-top: -0px;
                margin-bottom: -35px;
               
            }
     
     #postBodyViewMore{
                float: right;
    height: 35px;
    margin: -36px 0 0 -460px;
    width: 150px;
     }
     #postBodyReadMore{
                width: 50px;
                height: 35px;
                float: right;
                margin-top: -30px;
                margin-bottom: 0px;
                //margin-right: -60px;
     }
    
    .textTopOfImage{
        color: white;
        font-size: 20px;
        margin-left: 23px;
        margin-top: -27px;
        z-index: 9998;
        position: absolute;

    }
    #noOfLikesLinknew{
        margin-left: 1%;
        font-size: 14px;
    }
    #noOfUnLikesLinknew{
        margin-left: 170px;
        font-size: 14px;
    }
    #noOfSharesLinknew{
        margin-left:130px;
        font-size: 14px;
    }

    .likeCommentnew{
        background-color: transparent;
        opacity: 0.8;

        width: 30px;
        margin-left: 0px;
        z-index: 99;
        position: absolute;

    } 
    .unlikeCommentnew{
        background-color: transparent;
        opacity: 0.8;

        width: 30px;
        margin-left: 40px;
        z-index: 99;
        position: absolute;

    }

    #commentBodyThirdRowNew{
        width: 70px;
        height: 30px;

        margin-top: -25px;
        margin-bottom: 10px;
        float:right;
    }
    .textTopOfImageComment{
        color: white;
        font-size: 15px;
        margin-left: 17px;
        margin-top: -21px;
        z-index: 9999;
        position: absolute;
        border-radius: 100px;
        background-color: black;
        padding-left: 2px;
        padding-right: 2px;

    }
    .imageContainer {
        position: relative;
        width: 100%;
        height: 230px;
        //border: 1px solid white;
        margin: 0 auto;
        margin-top: 10px;
        border-radius: 10px;
        overflow: hidden;
        //max-width: 510px;
    }
    .imageContainer div {
        position: absolute;
        background: #ccc;
        border: 5px solid white;
    }
    .viewMoreShare:hover{
        cursor: pointer;
    }
    
     #photoPage{

                background-color: white;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; /* future proofing */
                -khtml-border-radius: 5px; /* for old Konqueror browsers */
            }
            .imageNextBtn{

                background-color: transparent; /* make the button transparent */
                background-repeat: no-repeat;  /* make the background image appear only once */
                background-position: 0px 0px;  /* equivalent to 'top left' */
                border: none;           /* assuming we don't want any borders */
                cursor: pointer;        /* make the cursor like hovering over an <a> element */
                height: 50px;
                position: absolute;/* make this the size of your image */
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                z-index: 99999;
                vertical-align: middle; 
            }
            .imagePrevBtn{

                background-color: transparent; /* make the button transparent */
                background-repeat: no-repeat;  /* make the background image appear only once */
                background-position: 0px 0px;  /* equivalent to 'top left' */
                border: none;           /* assuming we don't want any borders */
                cursor: pointer;        /* make the cursor like hovering over an <a> element */
                height: 50px;
                position: absolute;/* make this the size of your image */
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 99999;
                margin: auto;
                vertical-align: middle; 
            }
            .photoViewEmp{
                height: 60px;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: white;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; /* future proofing */
                -khtml-border-radius: 5px; /* for old Konqueror browsers */
            }
            #modalnewlook{
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; /* future proofing */
                -khtml-border-radius: 5px; /* for old Konqueror browsers */
            }