


/*Main container*/
#profileFeedContainer{
    margin-top: 80px;
    width: 45%;
    min-width: 30%;
    margin-left: 17.5%;
    /*border: 1px solid #e1e2e3;*/
    
}
.profileSideView{
    position: fixed;
    
    margin-left:65%; /* half width of the spinner gif */
    margin-top: 5px; /* half height of the spinner gif */
    text-align:center;
    z-index:123;
    
    width: 26.5%; /* width of the spinner gif */
   

}

.buzzLeftBar{
        width: 26%;
        float: left;
        position: fixed;
        left: 2%;
        top: 8%;
    }
    #gotoProfile{
        font-size: 11.6px;
    }

    #dashBoardProfile{
        /*border: 2px solid black;*/
        width: 75%;
        margin: 60px auto;
    }
    .buzzLeftBar{
        /*        width: 26%;
                float: left;
                margin-top: 2%;*/
        width: 20%;
        margin-left: 76%;
        float: left;
        margin-top: 1%;
        z-index: 999;
        position: fixed;
    }

    .buzzProfileRightBar{
        width: 23.75%;
        float: right;
        position: fixed;
        right: 11.5%;
        top: 16%;
        /*        width: 26%;*/
        /*float: left;*/
        /*        position: fixed;
                left: 2%;
                top: 16%;*/
        /*clear: both;*/
    }

    #profileContainer{
        width: 65.25%;
        float: left;
    }

    li{
        list-style: none;
    }
    #profileFirstRow{
        width: 80%;

        background-color: #484343;
        color: #fff;
        text-align: left;
        padding: 5px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(140,140,140,1);
        -moz-box-shadow: 1px 1px 1px 1px rgba(140,140,140,1);
        font-size: 18px;
    }
    .searchformupper{
        margin-top: -30px;
        margin-left: 60%;

    }
    .ProfileLink{
        padding: 2px 5px;
        background-color: #6B6B6B;
        border-radius: 5px;
    }