name: Test

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Use composer v1
        run: sudo composer self-update --1

      - name: Parse Git short hash
        run: echo "git_short_hash=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          php7.1 -f /usr/bin/composer install
          cd symfony/lib
          php7.1 -f /usr/bin/composer install
          php7.1 -f /usr/bin/composer dump-autoload -o

      - name: Run
        run: |
          ./vendor/bin/phpcs -p .

      - name: Upload report
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: report
          path: phpcs_report.csv
